openapi: 3.0.0
info:
  title: Aura API
  version: v1
  description: |-
    This is the v1 release of the Aura API that allows you to programmatically provision and manage your Aura instances.

    For more information on how to use the API, see the [Aura API documentation](https://neo4j.com/docs/aura/api/overview/).

    [Provide feedback](https://docs.google.com/forms/d/e/1FAIpQLSfNZMyQRnI_ZzK8IJ2E266DP_-zLDBWzk1OaUkPem16V-ekZQ/viewform) on the Aura API.
  termsOfService: 'https://console.neo4j.io/#terms'
tags:
  - name: instances
    description: Relates to AuraDB or AuraDS instances.
  - name: projects
    description: Relates to an Aura Project.
  - name: customer managed keys
    description: Relates to Customer Managed Keys.
  - name: sessions
    description: Relates to GDS Sessions.
servers:
  - url: 'https://api.neo4j.io/v1'
    description: Aura API v1
paths:
  /instances:
    parameters: []
    get:
      summary: Returns a list of instances
      tags:
        - instances
      operationId: get-instances
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstanceSummary'
                required:
                  - data
              examples:
                List of Aura instances:
                  value:
                    data:
                      - id: 2f49c2b3
                        name: Production
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: gcp
                        created_at: '2023-01-20T13:44:42Z'
                      - id: b51dc964
                        name: Instance01
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: aws
                        created_at: '2023-01-20T13:44:42Z'
                      - id: 432392ae
                        name: Recommendations
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: azure
                        created_at: '2023-01-20T13:44:42Z'
                      - id: 524b7d8d
                        name: Northwind
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: gcp
                        created_at: '2023-01-20T13:44:42Z'
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint returns a list containing a summary of each of your Aura instances. To find out more about a specific instance, retrieve the details using the GET /instances/{instanceId} endpoint.

        You can filter instances in a particular tenant using GET /instances?tenantId={tenantId}. If the tenant query parameter is not specified, this endpoints lists all instances a user has access to across all tenants.
      parameters:
        - $ref: '#/components/parameters/tenantIdOptional'
    post:
      summary: Creates a new instance
      tags:
        - instances
      operationId: post-instances
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The instance ID.
                      connection_url:
                        type: string
                        description: The URL to connect to the Neo4j instance with.
                      username:
                        type: string
                        example: neo4j
                        description: The initial username for authenticating with this instance.
                      password:
                        type: string
                        description: The initial password for authenticating with this instance.
                      tenant_id:
                        type: string
                        description: The ID for the project.
                      cloud_provider:
                        $ref: '#/components/schemas/CloudProvider'
                      region:
                        $ref: '#/components/schemas/InstanceRegion'
                      name:
                        type: string
                        description: Name of the instance
                      type:
                        $ref: '#/components/schemas/InstanceType'
                      created_at:
                        type: string
                        description: The timestamp when the instance was created.
                      vector_optimized:
                        type: boolean
                        description: The vector optimization configuration when the instance was created.
                      graph_analytics_plugin:
                        type: boolean
                        description: The graph analytics plugin configuration when the instance was created.
                    required:
                      - id
                      - connection_url
                      - username
                      - password
                      - tenant_id
                      - cloud_provider
                      - region
                      - type
                      - name
                      - created_at
              examples:
                Instance being created:
                  value:
                    data:
                      id: db1d1234
                      connection_url: YOUR_CONNECTION_URL
                      username: neo4j
                      password: letMeIn123!
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      region: europe-west1
                      type: enterprise-db
                      name: Instance01
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: false
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          links:
            GetInstanceDetails:
              operationId: get-instance-id
              parameters:
                instanceId: $response.body#/data/id
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '400':
          description: The request body contains malformed syntax, or is otherwise invalid. Please check and adjust the request before attempting to send it again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Missing Billing Information for self-serve users:
                  value:
                    errors:
                      - message: You must provide billing details in the Aura Console before creating an instance
                        reason: missing-billing-details
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: 'Creating instances is not permitted at this time, probably due to hitting a maximum instances limit. Check the error response body for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the creation process of an Aura instance.

        Creating an instance is an asynchronous operation. Supported instance configurations for your project can be obtained by calling the GET `/tenants/{tenantId}` endpoint.

        You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET `/instances/{instanceId}` endpoint. Once the status transitions from "creating" to "running" you may begin to use your instance.

        This endpoint returns your instance ID, initial credentials, connection URL along with your project ID, cloud provider, region, instance type, and the instance name in the response body for you to use once the instance is running. It is important to store these initial credentials until you have the chance to login to your running instance and change them.
        You must also provide a {cloud_provider} field in the request body, which specifies which cloud provider the instances will be hosted in. The acceptable values for this field are `gcp`, `aws`, or `azure`.

        For AuraDB Virtual Dedicated Cloud instances, and AuraDS Enterprise instances, you can specify a `customer_managed_key_id` to use a Customer Managed Key for encryption.

        Note for Virtual Dedicated Cloud customers: In the example schema below, the `enterprise-db` type is used to represent Virtual Dedicated Cloud.

        General note: As of January 29, 2025, instances created specifying `"version": "5"` will be provisioned using the latest Neo4j calendar version format.

        This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  $ref: '#/components/schemas/InstanceVersion'
                region:
                  $ref: '#/components/schemas/InstanceRegion'
                memory:
                  $ref: '#/components/schemas/InstanceMemory'
                name:
                  type: string
                  example: Instance01
                  maxLength: 30
                  minLength: 1
                  description: The name of the instance (any UTF-8 characters with no trailing or leading whitespace).
                type:
                  $ref: '#/components/schemas/InstanceType'
                tenant_id:
                  type: string
                  description: Project ID
                source_instance_id:
                  type: string
                  example: db1d1234
                  description: The ID of the source instance when cloning.
                source_snapshot_id:
                  type: string
                  description: An optional snapshot ID to create an instance from a specific snapshot. `source_instance_id` must also be provided. Note that the snapshot must be exportable in order to create a new instance with it.
                cloud_provider:
                  $ref: '#/components/schemas/CloudProvider'
                customer_managed_key_id:
                  type: string
                  description: An optional customer managed key to be used for instance creation.
                vector_optimized:
                  type: boolean
                  description: An optional vector optimization configuration to be set during instance creation.
                graph_analytics_plugin:
                  type: boolean
                  description: An optional graph analytics plugin configuration to be set during instance creation.
              required:
                - version
                - region
                - memory
                - name
                - type
                - tenant_id
                - cloud_provider
            examples:
              Creates an AuraDB Free Instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 1GB
                  name: Instance01
                  type: free-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Virtual Dedicated Cloud instance:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance01
                  type: enterprise-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDS Enterprise instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: enterprise-ds
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Business Critical instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: business-critical
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Professional instance:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance01
                  type: professional-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Professional instance with vector optimization configured:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  name: Instance01
                  type: professional-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
                  vector_optimized: true
              Creates an AuraDB Professional instance with the Graph Analytics plugin:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  name: Instance01
                  type: professional-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
                  graph_analytics_plugin: true
              Creates an AuraDS Professional instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: professional-ds
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Virtual Dedicated Cloud instance:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: enterprise-db
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Virtual Dedicated Cloud instance from a snapshot:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: enterprise-db
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDS Enterprise instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: enterprise-ds
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDS Enterprise instance from a snapshot:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: enterprise-ds
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Business Critical instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: business-critical
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Business Critical instance from a snapshot:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: business-critical
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Professional instance:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: professional-db
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Professional instance from a snapshot:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: professional-db
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDS Professional instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: professional-ds
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDS Professional instance from a snapshot:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: professional-ds
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Virtual Dedicated Cloud instance with Customer Managed Key:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance01
                  type: enterprise-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
                  customer_managed_key_id: UUID_OF_YOUR_KEY
  /instances/sizing:
    post:
      summary: Estimate the size of a new instance
      tags:
        - instances
      operationId: post-instances-sizing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      recommended_size:
                        type: string
                        description: The recommended instance size.
                      min_required_memory:
                        type: string
                        description: The minimum required memory for the instance.
                      did_exceed_maximum:
                        type: boolean
                        description: Indicates if the instance size exceeds the maximum allowed.
                    required:
                      - did_exceed_maximum
                      - min_required_memory
                      - recommended_size
              examples:
                Sizing details:
                  value:
                    data:
                      did_exceed_maximum: false
                      min_required_memory: 14GB
                      recommended_size: 16GB
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
          This endpoint estimates the size of a new instance based on the provided configuration.
          Supported instance types are `enterprise-ds`, and `professional-ds`, depending on your project configuration.

          The recommended size can can be used to create an instance using POST `/instances`.

          The response includes the recommended instance size, the minimum required memory for the instance, and a boolean value indicating if the instance size exceeds the maximum allowed by your Aura project instance configuration.

          This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                node_count:
                  type: integer
                  description: The number of nodes to be stored in the instance.
                relationship_count:
                  type: integer
                  description: The number of relationships to be stored in the instance.
                instance_type:
                  $ref: '#/components/schemas/InstanceType'
                algorithm_categories:
                  type: array
                  items:
                    type: string
                  description: The algorithm categories to be used in the instance.
              required:
                - node_count
                - relationship_count
            examples:
              Estimate the size of a new professional-ds instance:
                value:
                  node_count: 1000000
                  relationship_count: 5000000
                  instance_type: "professional-ds"
                  algorithm_categories:
                    - pathfinding
                    - community-detection
              Estimate the size of a new enterprise-ds instance:
                value:
                  node_count: 1000000
                  relationship_count: 5000000
                  instance_type: "enterprise-ds"
                  algorithm_categories:
                    - node-embedding
  '/instances/{instanceId}':
    parameters:
      - $ref: '#/components/parameters/instanceId'
    get:
      summary: Returns instance details
      tags:
        - instances
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      connection_url: YOUR_CONNECTION_URL
                      metrics_integration_url: YOUR_METRICS_INTEGRATION_ENDPOINT
                      region: europe-west1
                      type: enterprise-db
                      memory: 8GB
                      storage: 16GB
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: false
                Instance details with CMK:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      connection_url: YOUR_CONNECTION_URL
                      region: europe-west1
                      type: enterprise-db
                      memory: 8GB
                      storage: 16GB
                      created_at: '2023-01-20T13:44:42Z'
                      customer_managed_key_id: UUID_OF_YOUR_KEY
                Instance details with Secondary enabled:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      connection_url: YOUR_CONNECTION_URL
                      region: europe-west1
                      type: enterprise-db
                      memory: 8GB
                      storage: 16GB
                      created_at: '2023-01-20T13:44:42Z'
                      secondaries_count: 0

                Instance details with CDC Enrichment Mode enabled:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      tenant_id: YOUR_TENANT_ID
                      cloud_provider: gcp
                      connection_url: YOUR_CONNECTION_URL
                      region: europe-west1
                      type: enterprise-db
                      memory: 8GB
                      storage: 16GB
                      created_at: '2023-01-20T13:44:42Z'
                      cdc_enrichment_mode: FULL
                Instance details configured with vector optimization and the Graph Analytics plugin:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      tenant_id: YOUR_TENANT_ID
                      cloud_provider: gcp
                      connection_url: YOUR_CONNECTION_URL
                      region: europe-west1
                      type: professional-db
                      memory: 8GB
                      storage: 16GB
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: true
                      graph_analytics_plugin: true
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          links:
            PauseInstance:
              operationId: pause-instance-id
              parameters:
                instanceId: $response.body#/data/id
            ResumeInstance:
              operationId: resume-instance-id
              parameters:
                instanceId: $response.body#/data/id
            DestroyInstance:
              operationId: delete-instance-id
              parameters:
                instanceId: $response.body#/data/id
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: get-instance-id
      description: |-
        This endpoint returns details about a specific Aura Instance.

        Note for Virtual Dedicated Cloud customers: In the example schema below, the `enterprise-db` type is used to represent Virtual Dedicated Cloud.
    delete:
      summary: Deletes an instance
      tags:
        - instances
      operationId: delete-instance-id
      responses:
        '202':
          description: Instance is being deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: destroying
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: false
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Starts the deletion process of an Aura instance.

        Deleting an instance is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        If another operation is being performed on the instance you are trying to delete, a 409 Conflict HTTP response code will be returned that indicates that deletion cannot be performed. As deletion is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        As DELETE is an idempotent HTTP method it is safe to retry or send duplicate requests. However, the server will only reply at most once with a successful deletion response (202 Accepted) and will respond with error status codes for any other requests (most likely with 404 Not Found). We suggest treating either 202 or 404 as signs of completion when retrying requests to this endpoint.

        Warning: There is no way to recover data from a deleted Aura instance.

        Note for Virtual Dedicated Cloud customers: In the example schema below, the `enterprise-db` type is used to represent Virtual Dedicated Cloud.
    patch:
      summary: Edits the instance configuration
      description: |-
        This endpoint allows you to rename, resize and update the secondary count or the CDC enrichment mode, configure vector optimization and enable Graph Analytics on an Aura instance.

        These are asynchronous operations. The instance remains available throughout.

        This endpoint requires the `Content-Type: application/json` header to be set.
      tags:
        - instances
      operationId: patch-instance-id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: |-
                    Edit the instance name in the Aura Console.

                    The name may include any UTF-8 characters with no trailing or leading whitespace.
                  example: Instance01
                  maxLength: 30
                  minLength: 1
                memory:
                  $ref: '#/components/schemas/InstanceMemory'
                vector_optimized:
                  type: boolean
                  description: Add or remove the instance vector optimization.
                graph_analytics_plugin:
                  type: boolean
                  description: Add or remove the instance graph analytics plugin.
                storage:
                  $ref: '#/components/schemas/InstanceStorage'
            examples:
              Rename the instance:
                value:
                  name: Instance02
              Resize instance memory:
                value:
                  memory: 16GB
              Resize instance storage:
                value:
                  storage: 32GB
              Update Secondary Count:
                value:
                  secondaries_count: 4
              Update CDC Enrichment Mode:
                value:
                  cdc_enrichment_mode: FULL
              Rename and resize the instance:
                value:
                  name: Instance02
                  memory: 16GB
                  storage: 32GB
              Resize and configure vector optimization:
                value:
                  memory: 16GB
                  storage: 32GB
                  vector_optimized: true
              Resize and enable Graph Analytics libraries:
                value:
                  memory: 16GB
                  storage: 32GB
                  graph_analytics_plugin: true
      responses:
        '200':
          description: Renamed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: updating
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: false
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '202':
          description: Resize request accepted.
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  '/instances/{instanceId}/overwrite':
    parameters:
      - $ref: '#/components/parameters/instanceId'
    post:
      summary: Overwrites an instance
      tags:
        - instances
      operationId: post-overwrite-instance
      responses:
        '202':
          description: Overwrite request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: overwriting
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '420':
          description: 'Action unsupported for this tier of instance.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
                  - $ref: '#/components/schemas/MiddlewareError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Starts the process of overwriting the specified instance with data from the source instance provided.

        The overwrite process mimics the 'Clone to existing' functionality of the Aura Console.

        If only a `source_instance_id` is provided, a new snapshot of that instance is created and used for overwriting. Alternatively, you can specify an additional `source_snapshot_id` to use a specific snapshot of the source instance for overwriting.

        Overwriting an instance is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        The time it takes to overwrite depends on the amount of data stored in the instance; larger quantities of data will take longer. The exact time this will take is dependent on the size of your data store.

        If you are trying to overwrite an instance that is already being cloned then, a 409 Conflict HTTP response code will be returned as the operation cannot be performed.

        If you are trying to overwrite a free instance, a 420 Unsupported Action response code will be returned as the operation cannot be performed.

        If you are trying to overwrite an instance smaller than the source data instance, a 500 DB Overwrite Size Disparity response code with a message of `Cannot clone database <ID_1> into smaller database <ID_2>.` will be returned as the operation cannot be performed.
        This is dependant on the allocated instance size, not the size of the actual data.

        As overwrite is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_instance_id:
                  type: string
                source_snapshot_id:
                  type: string
              required:
                - source_instance_id
            examples:
              Overwrite an instance:
                value:
                  source_instance_id: 191b0da2
              Overwrite an instance with a specific snapshot:
                value:
                  source_instance_id: 191b0da2
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
        description: Source Instance ID to use as a seed for overwriting the target instance.
  '/instances/{instanceId}/pause':
    parameters:
      - name: instanceId
        in: path
        schema:
          type: string
        description: Instance ID.
        required: true
    post:
      summary: Pauses an instance.
      tags:
        - instances
      operationId: post-pause-instance
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: The instance is being paused.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: pausing
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Starts the pause process of an Aura instance.

        Pausing an instance is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        The pause time depends on the amount of data stored in the instance; larger quantities of data will take longer. The exact time this will take is dependent on the size of your data store.

        If another operation is being performed on the instance you are trying to pause, a 409 Conflict HTTP response code will be returned that indicates that the pause operation cannot be performed.

        As pause is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.

        Note for Virtual Dedicated Cloud customers: In the example schema below, the `enterprise-db` type is used to represent Virtual Dedicated Cloud.

  '/instances/{instanceId}/resume':
    parameters:
      - name: instanceId
        in: path
        schema:
          type: string
        description: Instance ID.
        required: true
    post:
      summary: Resumes an instance
      tags:
        - instances
      operationId: post-resume-instance
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: The instance is being resumed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: resuming
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Starts the resume process of an Aura instance.

        Resuming an instance is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        If another operation is being performed on the instance you are trying to resume, a 409 Conflict HTTP response code will be returned that indicates that resume cannot be performed. As resume is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.
  '/instances/{instanceId}/snapshots/{snapshotId}':
    parameters:
      - $ref: '#/components/parameters/instanceId'
      - name: snapshotId
        in: path
        schema:
          type: string
        description: Snapshot ID.
        required: true
    get:
      summary: Get details of a snapshot.
      tags:
        - instances
      operationId: get-snapshot-snapshotid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      instance_id:
                        type: string
                      profile:
                        type: string
                        enum:
                          - AdHoc
                          - Scheduled
                      snapshot_id:
                        type: string
                      status:
                        type: string
                        enum:
                          - Completed
                          - InProgress
                          - Failed
                          - Pending
                          - Cancelled
                      timestamp:
                        type: string
                required:
                  - data
              examples:
                Snapshot details:
                  value:
                    data:
                      instance_id: Instance01
                      profile: Scheduled
                      snapshot_id: '2023-01-20T13:44:42Z'
                      status: Completed
                      timestamp: '2023-01-20T13:44:42Z'
                      exportable: false
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/SnapshotNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint returns details about a specific snapshot.
  '/instances/{instanceId}/snapshots/{snapshotId}/restore':
    parameters:
      - $ref: '#/components/parameters/instanceId'
      - name: snapshotId
        in: path
        schema:
          type: string
        description: Snapshot ID.
        required: true
    post:
      summary: Restores an instance from a snapshot.
      tags:
        - instances
      operationId: post-restore-snapshot
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: Request to restore a snapshot accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: restoring
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/SnapshotNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the restore process of an Aura instance with the specified snapshot ID.

        Restoring a snapshot is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        If another operation is being performed on the instance you are trying to restore, a 409 Conflict HTTP response code will be returned that indicates that restore cannot be performed. As restore is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.

        Note for Virtual Dedicated Cloud customers: In the example schema below, the `enterprise-db` type is used to represent Virtual Dedicated Cloud.

  '/instances/{instanceId}/snapshots':
    parameters:
      - $ref: '#/components/parameters/instanceId'
    get:
      summary: Returns a list of snapshots
      tags:
        - instances
      operationId: get-snapshots
      responses:
        '200':
          description: A List of snapshots
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        instance_id:
                          type: string
                        profile:
                          type: string
                          enum:
                            - AdHoc
                            - Scheduled
                        snapshot_id:
                          type: string
                        status:
                          type: string
                          enum:
                            - Completed
                            - InProgress
                            - Failed
                            - Pending
                        timestamp:
                          type: string
              examples:
                Example 1:
                  value:
                    data:
                    - instance_id: 9o2he2a1
                      profile: Scheduled
                      snapshot_id: '2023-01-20T13:44:42Z'
                      status: Completed
                      timestamp: '2023-01-20T13:44:42Z'
                      exportable: false
                    - instance_id: 415ced99
                      profile: AdHoc
                      snapshot_id: '2023-01-20T18:07:25Z-adhoc'
                      status: Completed
                      timestamp: '2023-01-20T18:07:25Z'
                      exportable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint returns a list of available snapshots for a given date. If a date is not specified, snapshots from the current day will be returned.

        To list snapshots for a specific date, pass the date query parameter with an ISO formatted date string (YYYY-MM-DD).
      parameters:
        - schema:
            type: string
            format: date
          in: query
          name: date
          description: 'An optional date parameter to list snapshots for a given day, defaults to today.'
    post:
      summary: Takes an on-demand snapshot
      tags:
        - instances
      operationId: post-snapshots
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: Snapshot request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - snapshot_id
                    properties:
                      snapshot_id:
                        type: string
                        description: The ID of the created snapshot
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Payment Required.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the on-demand snapshot creation process for an Aura instance.

        Creating a snapshot is an asynchronous operation. You can poll the current status of this operation by periodically getting the snapshots details for the instance ID using the GET /instances/{instanceId}/snapshots endpoint.

        The time taken to complete a snapshot depends on the amount of data stored in the instance; larger quantities of data will take longer. The exact time this will take is dependent on the size of your data store.

        As this endpoint performs an asynchronous operation, the request returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.
      parameters: []

  "/instances/{instanceId}/upgrade":
    parameters:
      - name: instanceId
        in: path
        schema:
          type: string
        description: Instance ID
        required: true
    post:
      summary: Upgrade an AuraDB Professional instance to an AuraDB Business Critical instance
      tags:
        - instances
      operationId: post-upgrade-instance
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memory:
                  type: string
                storage:
                  type: string
            examples:
              Upgrade and resize an instance:
                value:
                  memory: 16GB
                  storage: 32GB
      responses:
        "200":
          description: The instance was upgraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Instance"
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      region: europe-west1
                      type: business-critical
                      created_at: "2023-01-20T13:44:42Z"
        "308":
          $ref: "#/components/responses/PermanentRedirect"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/InstanceNotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      description: |-
        Upgrades an AuraDB Professional instance to an AuraDB Business Critical instance. Upgrades are not available for Marketplace projects or trial instances.

        Optionally, provide values for `memory` and `storage` in the request body to resize the instance along with the upgrade. If you don’t provide values, the instance keeps its configuration. If you provide `memory` you must also provide `storage` and vice versa.

        This endpoint requires the `Content-Type: application/json` header to be set.

  /tenants:
    parameters: []
    get:
      summary: Returns a list of projects
      tags:
        - projects
      operationId: get-projects
      description: 'This endpoint returns a list containing a summary of each of your Aura projects. To find out more about a specific project, retrieve the details using the GET /tenants/{tenantId} endpoint.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSummary'
                required:
                  - data
              examples:
                List of projects:
                  value:
                    data:
                      - id: 6981ace7-efe8-4f5c-b7c5-267b5162ce91
                        name: Production
                      - id: YOUR_PROJECT_ID
                        name: Staging
                      - id: da045ab3-3b89-4f45-8b96-528f2e47cd13
                        name: Development
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  '/tenants/{tenantId}':
    parameters:
      - $ref: '#/components/parameters/tenantId'
    get:
      summary: Returns project details
      tags:
        - projects
      operationId: get-project-id
      description: |-
        This endpoint returns details about a specific Aura project.

        Note for Virtual Dedicated Cloud customers: In the example schema below, the `enterprise-db` type is used to represent Virtual Dedicated Cloud.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                Project details:
                  value:
                    data:
                      id: 6981ace7-efe8-4f5c-b7c5-267b5162ce91
                      name: Production
                      instance_configurations:
                        - region: europe-west1
                          region_name: Belgium (europe-west1)
                          type: enterprise-db
                          memory: 4GB
                          storage: 8GB
                          version: '5'
                          cloud_provider: gcp
                        - region: europe-west1
                          region_name: Belgium (europe-west1)
                          type: enterprise-db
                          memory: 8GB
                          storage: 16GB
                          version: '5'
                          cloud_provider: gcp
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /customer-managed-keys:
    parameters: []
    get:
      summary: Returns a list of customer managed keys
      tags:
        - customer managed keys
      operationId: get-customer-managed-keys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: A summary of a customer managed key
                      required:
                        - id
                        - name
                        - tenant_id
                      properties:
                        id:
                          type: string
                          description: The UUID of the key
                        name:
                          type: string
                          description: The name of the key
                        tenant_id:
                          type: string
                          description: The id of the project which the key belongs to
                required:
                  - data
              examples:
                List of Customer Managed Keys:
                  value:
                    data:
                      - id: f15cc45b-1c29-44e8-911f-3ba719f70ed7
                        name: Production Key
                        tenant_id: YOUR_PROJECT_ID
                      - id: 0d971cc4-f703-40fd-8c5c-f5ec134f6c84
                        name: Dev Key
                        tenant_id: YOUR_PROJECT_ID
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint returns a list containing a summary of each of your customer managed keys. To find out more about a specific key, retrieve the details using the GET /customer-managed-keys/{customerManagedKeyId} endpoint.

        You can filter keys in a particular project using GET /customer-managed-keys?tenantId={tenantId}. If the project query parameter is not specified, this endpoint lists all keys a user has access to across all projects.
      parameters:
        - $ref: '#/components/parameters/tenantIdForCmkOptional'
    post:
      summary: Creates a new customer managed key
      tags:
        - customer managed keys
      operationId: post-customer-managed-keys
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerManagedKey'
              examples:
                Key is being created:
                  value:
                    data:
                      id: 8c764aed-8eb3-4a1c-92f6-e4ef0c7a6ed9
                      name: Instance01
                      created: '2024-01-31T14:06:57Z'
                      cloud_provider: aws
                      key_id: 'arn:aws:kms:us-east-1:123456789:key/11111-a222-1212-x789-1212f1212f'
                      region: us-east-1
                      type: enterprise-db
                      tenant_id: YOUR_PROJECT_ID
                      status: pending
                      instance_type: enterprise-db
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          links:
            GetInstanceDetails:
              operationId: get-customer-managed-key-id
              parameters:
                customerManagedKeyId: $response.body#/data/id
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '400':
          description: The request body contains malformed syntax, or is otherwise invalid. Please check and adjust the request before attempting to send it again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint creates a new Customer Managed Key in Aura. Creating a new key is an asynchronous operation.

        Before you can use the key you will need to setup permissions for it. Log in to the Console, navigate to 'Customer Managed Keys' and click on the Edit icon next to the Key in order to see the instructions.

        You can poll the current status of this operation by periodically getting the key details using the GET `/customer-managed-keys/{customerManagedKeyId}` endpoint.

        Once the key has a status of `ready` you can use it for creating new instances by setting the `customer_managed_key_id` field.

        Note for Virtual Dedicated Cloud customers: In the example schema below, the `enterprise-db` type is used to represent Virtual Dedicated Cloud.

        This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                region:
                  $ref: '#/components/schemas/InstanceRegion'
                name:
                  type: string
                  example: Production Key
                  maxLength: 30
                  minLength: 1
                  description: The name of the key (any UTF-8 characters with no trailing or leading whitespace).
                instance_type:
                  $ref: '#/components/schemas/InstanceType'
                tenant_id:
                  type: string
                  description: Project ID
                cloud_provider:
                  $ref: '#/components/schemas/CloudProvider'
                key_id:
                  type: string
              required:
                - key_id
                - region
                - name
                - instance_type
                - tenant_id
                - cloud_provider
            examples:
              Creates a Customer Managed Key:
                value:
                  key_id: arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab
                  name: Production Key
                  cloud_provider: aws
                  instance_type: enterprise-db
                  region: us-west-2
                  tenant_id: YOUR_PROJECT_ID
  '/customer-managed-keys/{customerManagedKeyId}':
    parameters:
      - $ref: '#/components/parameters/customerManagedKeyId'
    get:
      summary: Returns customer managed key details
      tags:
        - customer managed keys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerManagedKey'
              examples:
                Customer Managed Key details:
                  value:
                    data:
                      id: 8c764aed-8eb3-4a1c-92f6-e4ef0c7a6ed9
                      name: Instance01
                      created: '2024-01-31T14:06:57Z'
                      cloud_provider: aws
                      key_id: 'arn:aws:kms:us-east-1:123456789:key/11111-a222-1212-x789-1212f1212f'
                      region: us-east-1
                      type: enterprise-db
                      tenant_id: YOUR_PROJECT_ID
                      status: ready
                      instance_type: enterprise-db
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/CustomerManagedKeyNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: get-customer-managed-key-id
      description: This endpoint returns details about a specific Customer Managed Key.
    delete:
      summary: Deletes a customer managed key
      tags:
        - customer managed keys
      operationId: delete-customer-managed-key-id
      responses:
        '204':
          description: Key was deleted.
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        "400":
          description: "The request body contains malformed syntax, or is otherwise invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                Trying to delete an active key:
                  value:
                    errors:
                      - message: "Can not delete encryption key <UUID>. The key is linked to an active instance."
                        reason: "encryption-key-is-active"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/CustomerManagedKeyNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Deletes a Customer Managed Key from Aura.

        Note that you can only delete a Key if it is not being used by any instances, otherwise you will get a 400 response with the reason field set to `encryption-key-is-active`.
  '/tenants/{tenantId}/metrics-integration':
    parameters:
      - $ref: '#/components/parameters/tenantId'
    get:
      summary: Returns project metrics integration details
      tags:
        - projects
      operationId: get-project-metrics-integration-details
      description: This endpoint returns details of a specific Aura project metrics integration.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsIntegrationDetails'
              examples:
                Metrics Integration Details:
                  value:
                    data:
                      endpoint: https://customer-metrics-api.neo4j.io/api/v1/tenantId/metrics
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /graph-analytics/sessions:
    parameters: []
    get:
        summary: Returns a list of GDS Sessions
        tags:
        - sessions
        description: This endpoint returns a list containing a summary of each of your GDS Sessions.
        operationId: get-sessions
        parameters:
          - $ref: '#/components/parameters/instanceIdQuery'
          - $ref: '#/components/parameters/tenantIdForSessionsOptional'
          - $ref: '#/components/parameters/organizationIdOptional'
        responses:
          "200":
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/GdsSessionDetails'
                  required:
                    - data
                examples:
                  List of GDS Sessions:
                    value:
                        data:
                          - id: s-04de43fe-67ab-4
                            name: people-and-fruit
                            memory: 8GB
                            instance_id:
                            database_uuid: ea408a62-c991-490c-96db-2b947003eece
                            status: Ready
                            created_at: 2025-04-04T09:32:35Z
                            host: s-04de43fe-67ab-4-gds.<ORCHESTRA>.neo4j.io
                            expiry_date: 2025-04-11T09:32:35Z
                            ttl: 20m0s
                            user_id:  YOUR_USER_ID
                            tenant_id: YOUR_PROJECT_ID
                            cloud_provider: azure
                            region: francecentral
                          - id: 559c94c7-15de43fg
                            name: people-and-fruit-with-db
                            memory: 4GB
                            instance_id: 559c94c7
                            database_uuid: ea408a62-c991-490c-96db-2b947003eece
                            status: Creating
                            created_at: 2025-04-04T09:32:35Z
                            host: 559c94c7-15de43fg.<ORCHESTRA>.neo4j.io
                            expiry_date:
                            ttl:
                            user_id:  YOUR_USER_ID
                            tenant_id: YOUR_PROJECT_ID
                            cloud_provider: gcp
                            region: europe-west1
          "400":
             $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '403':
            $ref: '#/components/responses/Forbidden'
          "404":
            $ref: '#/components/responses/InstanceNotFound'
          '429':
            $ref: '#/components/responses/TooManyRequests'
          '500':
            $ref: '#/components/responses/InternalServerError'
          '502':
            $ref: '#/components/responses/BadGateway'
          '503':
            $ref: '#/components/responses/ServiceUnavailable'
          '504':
            $ref: '#/components/responses/GatewayTimeout'
    post:
      description: Get or create a GDS Session. If no session with a matching name and project is found, one will be created. A session is either
        attached to an instance, or standalone.
      operationId: post-session
      tags:
        - sessions
      requestBody:
       content:
          application/json:
            schema:
              type: object
              properties:
                name:
                 type: string
                 description: The name of the session.
                 example: people-and-fruit
                 minLength: 1
                memory:
                  type: string
                  description: The memory of the session in 'GB'
                  example: 8GB
                ttl:
                   type: string
                   description: The time to live of the session. If not specified, defaults to 1 hour.
                   example: 30m
                instance_id:
                  type: string
                  description: The ID of the instance the session will be attached to. Enables projecting data from the instance and write-back of results.
                database_uuid:
                  type: string
                  description: The UUID of the Neo4j database from which the session was created from.
                tenant_id:
                  type: string
                  description: The ID of the Tenant/Project to which the session belongs.
                cloud_provider:
                  description: The cloud provider hosting the session. Please refer to your Aura project configurations, returned by the GET /tenants/{tenantId} endpoint, for a list of valid cloud_providers for your project.
                  enum:
                    - gcp
                    - aws
                    - azure
                region:
                  type: string
                  description: The region where the session is hosted. Please refer to your Aura project instance configurations, returned by the GET /tenants/{tenantId} endpoint, for a list of valid regions for your project.

      responses:
        "200":
          description: GDS Session already exists
          content:
            application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      items:
                        $ref: '#/components/schemas/GdsSessionDetails'
                    errors:
                       $ref: '#/components/schemas/Error'
                  required:
                    - data
                examples:
                  Existing session:
                    value:
                     data:
                      id: 559c94c7-15de43fg
                      name: people-and-fruit-with-db
                      memory: 4GB
                      instance_id: 559c94c7
                      database_uuid: ea408a62-c991-490c-96db-2b947003eece
                      status: Ready
                      created_at: 2025-04-04T09:32:35Z
                      host: 559c94c7-15de43fg.<ORCHESTRA>.neo4j.io
                      expiry_date: 2025-04-11T09:32:35Z
                      ttl: 8m
                      user_id:  YOUR_USER_ID
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      region: europe-west1
        "202":
          description: GDS Session is being created
          content:
            application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      items:
                        $ref: '#/components/schemas/GdsSessionDetails'
                    errors:
                       $ref: '#/components/schemas/Error'
                  required:
                    - data
                examples:
                  Existing session:
                    value:
                     data:
                      id: 559c94c7-15de43fg
                      name: people-and-fruit-with-db
                      memory: 4GB
                      instance_id: 559c94c7
                      database_uuid: ea408a62-c991-490c-96db-2b947003eece
                      status:
                      created_at: 2025-04-04T09:32:35Z
                      host: 559c94c7-15de43fg.<ORCHESTRA>.neo4j.io
                      user_id:  YOUR_USER_ID
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      region: europe-west1
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        "400":
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/SessionConflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      summary: Get or Create a GDS Session
  /graph-analytics/sessions/sizing:
    post:
      summary: Estimate the size of a new GDS Session
      tags:
        - sessions
      operationId: post-sessions-sizing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      recommended_size:
                        type: string
                        description: The recommended session size.
                      estimated_memory:
                        type: string
                        description: The estimated memory for the session.
                    required:
                      - recommended_size
                      - estimated_memory
              examples:
                Sizing details:
                  value:
                    data:
                      estimated_memory: 6GB
                      recommended_size: 8GB
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        "400":
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
          This endpoint estimates the size of a new GDS Session based on the provided configuration.

          The recommended size can can be used to create a session using POST `/sessions`.

          The response includes the recommended session size, the estimated memory for the session.

          This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                node_count:
                  type: integer
                  description: The number of nodes to be stored in the instance.
                node_property_count:
                  type: integer
                  description: The number of properties per node.
                node_label_count:
                  type: integer
                  description: The number of labels per node.
                relationship_count:
                  type: integer
                  description: The number of relationships to be stored in the instance.
                relationship_property_count:
                  type: integer
                  description: The number of properties per relationship.
                algorithm_categories:
                  type: array
                  items:
                    type: string
                  description: The algorithm categories to be used in the instance.
              required:
                - node_count
                - relationship_count
            examples:
              Estimate the size of a new session:
                value:
                  node_count: 1000000
                  node_property_count: 512
                  node_label_count: 3
                  relationship_count: 5000000
                  relationship_property_count: 5
                  algorithm_categories:
                    - similarity
                    - community-detection
  /graph-analytics/sessions/{sessionId}:
    parameters:
      - $ref: '#/components/parameters/sessionId'
    get:
      summary: Returns a single GDS Session by ID
      operationId: get-session
      tags:
        - sessions
      description: Returns a single GDS Session by ID
      responses:
        '200':
          description: Existing GDS Session
          content:
            application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      items:
                        $ref: '#/components/schemas/GdsSessionDetails'
                    errors:
                       $ref: '#/components/schemas/Error'
                  required:
                    - data
                examples:
                  Existing session:
                    value:
                      data:
                        id: 559c94c7-15de43fg
                        name: people-and-fruit-with-db
                        memory: 4GB
                        instance_id: 559c94c7
                        database_uuid: ea408a62-c991-490c-96db-2b947003eece
                        status: Ready
                        created_at: 2025-04-04T09:32:35Z
                        host: 559c94c7-15de43fg.<ORCHESTRA>.neo4j.io
                        expiry_date: 2025-04-11T09:32:35Z
                        ttl: 8m
                        user_id:  YOUR_USER_ID
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: gcp
                        region: europe-west1
        '404':
          $ref: '#/components/responses/SessionNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
    delete:
      summary: Deletes a GDS Session
      operationId: delete-session
      tags:
        - sessions
      description: Deletes a GDS Session by ID
      responses:
        '202':
          description: GDS Session is being deleted.
          content:
            application/json:
              schema:
                  type: object
                  description: session id of the deleted GDS Session.
                  properties:
                    data:
                      properties:
                        id:
                          type: string
                    errors:
                       $ref: '#/components/schemas/Error'
              example:
                  data:
                    id: s-f5138f3b-7956-4
        '404':
          $ref: '#/components/responses/SessionNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
components:
  schemas:
    Project:
      type: object
      description: Describes an Aura project.
      required:
        - data
      properties:
        data:
          type: object
          required:
            - id
            - name
            - instance_configurations
          properties:
            id:
              type: string
              description: The id of the project
            name:
              type: string
              description: The name of the project
            instance_configurations:
              type: array
              description: A list of instance configurations that are supported by the project
              items:
                type: object
                description: A configuration for an instance
                required:
                  - region
                  - region_name
                  - type
                  - version
                  - memory
                  - storage
                  - cloud_provider
                properties:
                  region:
                    $ref: '#/components/schemas/InstanceRegion'
                  region_name:
                    type: string
                    description: A human-friendly name for the region
                  type:
                    $ref: '#/components/schemas/InstanceType'
                  memory:
                    $ref: '#/components/schemas/InstanceMemory'
                  storage:
                    $ref: '#/components/schemas/InstanceStorage'
                  version:
                    $ref: '#/components/schemas/InstanceVersion'
                  cloud_provider:
                    $ref: '#/components/schemas/CloudProvider'
    ProjectSummary:
      type: object
      description: 'Summary of an Aura project details, as returned in the get projects endpoint.'
      properties:
        id:
          type: string
          description: The id of the project
        name:
          type: string
          description: The name of the project
      required:
        - id
        - name
    Instance:
      type: object
      description: Describes an Aura instance.
      properties:
        data:
          type: object
          required:
            - id
            - name
            - status
            - connection_url
            - cloud_provider
            - tenant_id
            - memory
            - storage
            - region
            - type
            - created_at
          properties:
            id:
              type: string
              description: The id of the instance
            name:
              type: string
              description: The name of the instance
            status:
              type: string
              description: The status of the instance
              enum:
                - creating
                - destroying
                - running
                - pausing
                - paused
                - suspending
                - suspended
                - resuming
                - loading
                - loading failed
                - restoring
                - updating
                - overwriting
            connection_url:
              type: string
              description: URL for connecting to the Neo4j instance
            created_at:
              type: string
              description: The timestamp when the instance was created
            metrics_integration_url:
              type: string
              description: Metrics integration endpoint URL for the Neo4j instance
            region:
              $ref: '#/components/schemas/InstanceRegion'
            type:
                $ref: '#/components/schemas/InstanceType'
            cloud_provider:
              $ref: '#/components/schemas/CloudProvider'
            tenant_id:
              type: string
              description: The project to which the instance belongs to
            memory:
              $ref: '#/components/schemas/InstanceMemory'
            storage:
              $ref: '#/components/schemas/InstanceStorage'
            customer_managed_key_id:
              type: string
              description: ID of the Customer Managed Key if one was used for creating the instance
            graph_nodes:
              type: string
              description: The number of nodes in an Instance. **This field is returned ONLY for free instances**
            graph_relationships:
              type: string
[...]
