openapi: 3.0.0
info:
  title: Aura API
  version: v1beta5
  description: |-
    This is the v1beta5 release of the Aura API that allows you to programmatically provision and manage your Aura instances. 

    For more information on how to use the API, see the [Aura API documentation](https://neo4j.com/docs/aura/api/overview/).

    [Provide feedback](https://docs.google.com/forms/d/e/1FAIpQLSfNZMyQRnI_ZzK8IJ2E266DP_-zLDBWzk1OaUkPem16V-ekZQ/viewform) on the Aura API.
  termsOfService: 'https://console.neo4j.io/#terms'
tags:
  - name: instances
    description: Relates to AuraDB or AuraDS instances.
  - name: projects
    description: Relates to an Aura project.
  - name: customer managed keys
    description: Relates to Customer Managed Keys.
  - name: data apis
    description: Relates to Data APIs.
servers:
  - url: 'https://api.neo4j.io/v1beta5'
    description: Aura API v1beta5
paths:
  /instances:
    parameters: []
    get:
      summary: Returns a list of instances
      tags:
        - instances
      operationId: get-instances
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstanceSummary'
                required:
                  - data
              examples:
                List of Aura instances:
                  value:
                    data:
                      - id: 2f49c2b3
                        name: Production
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: gcp
                        created_at: '2023-01-20T13:44:42Z'
                      - id: b51dc964
                        name: Instance01
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: aws
                        created_at: '2023-01-20T13:44:42Z'
                      - id: 432392ae
                        name: Recommendations
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: azure
                        created_at: '2023-01-20T13:44:42Z'
                      - id: 524b7d8d
                        name: Northwind
                        tenant_id: YOUR_PROJECT_ID
                        cloud_provider: gcp
                        created_at: '2023-01-20T13:44:42Z'
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |- 
        This endpoint returns a list containing a summary of each of your Aura instances. To find out more about a specific instance, retrieve the details using the GET /instances/{instanceId} endpoint.

        You can filter instances in a particular project using GET /instances?tenantId={tenantId}. If the `tenantId`(project) query parameter is not specified, this endpoints lists all intances a user has access to across all projects.
      parameters:
        - $ref: '#/components/parameters/tenantIdOptional'
    post:
      summary: Creates a new instance
      tags:
        - instances
      operationId: post-instances
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The instance ID.
                      connection_url:
                        type: string
                        description: The URL to connect to the Neo4j instance with.
                      username:
                        type: string
                        example: neo4j
                        description: The initial username for authenticating with this instance.
                      password:
                        type: string
                        description: The initial password for authenticating with this instance.
                      tenant_id:
                        type: string
                        description: The ID for the project.
                      cloud_provider:
                        $ref: '#/components/schemas/CloudProvider'
                      region:
                        $ref: '#/components/schemas/InstanceRegion'
                      name:
                        type: string
                        description: Name of the instance
                      type:
                        $ref: '#/components/schemas/InstanceType'
                      created_at:
                        type: string
                        description: The timestamp when the instance was created.
                      vector_optimized:
                        type: boolean
                        description: The vector optimization configuration when the instance was created.
                      graph_analytics_plugin:
                        type: boolean
                        description: The graph analytics plugin configuration when the instance was created.
                    required:
                      - id
                      - connection_url
                      - username
                      - password
                      - tenant_id
                      - cloud_provider
                      - region
                      - type
                      - name
                      - created_at
              examples:
                Instance being created:
                  value:
                    data:
                      id: db1d1234
                      connection_url: YOUR_CONNECTION_URL
                      username: neo4j
                      password: letMeIn123!
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      region: europe-west1
                      type: enterprise-db
                      name: Instance01
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: false
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          links:
            GetInstanceDetails:
              operationId: get-instance-id
              parameters:
                instanceId: $response.body#/data/id
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '400':
          description: The request body contains malformed syntax, or is otherwise invalid. Please check and adjust the request before attempting to send it again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Missing Billing Information for self-serve users:
                  value:
                    errors:
                      - message: You must provide billing details in the Aura Console before creating an instance
                        reason: missing-billing-details
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          description: 'Creating instances is not permitted at this time, probably due to hitting a maximum instances limit. Check the error response body for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the creation process of an Aura instance.

        Creating an instance is an asynchronous operation. Supported instance configurations for your project can be obtained by calling the GET `/tenants/{tenantId}` endpoint. 

        Instance creation typically takes a few minutes, but can occasionally take up to 10 minutes. Wait until the instance is active in the Aura Console before connecting.

        You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET `/instances/{instanceId}` endpoint. Once the status transitions from "creating" to "running" you may begin to use your instance.

        This endpoint returns your instance ID, initial credentials, connection URL along with your project id, cloud provider, region, instance type, and the instance name in the response body for you to use once the instance is running. It is important to store these initial credentials until you have the chance to login to your running instance and change them.

        You must also provide a {cloud_provider} field in the request body, which specifies which cloud provider the instances will be hosted in. The acceptable values for this field are `gcp`, `aws`, or `azure`.

        For Enterprise instances you can specify a `customer_managed_key_id` to use a Customer Managed Key for encryption.

        General note: As of January 29, 2025, instances created specifying `"version": "5"` will be provisioned using the latest Neo4j calendar version format.

        This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  $ref: '#/components/schemas/InstanceVersion'
                region:
                  $ref: '#/components/schemas/InstanceRegion'
                memory:
                  $ref: '#/components/schemas/InstanceMemory'
                storage:
                  $ref: '#/components/schemas/InstanceStorage'
                name:
                  type: string
                  example: Instance01
                  maxLength: 30
                  minLength: 1
                  description: The name of the instance (any UTF-8 characters with no trailing or leading whitespace).
                type:
                  $ref: '#/components/schemas/InstanceType'
                tenant_id:
                  type: string
                  description: The ID for the project.
                source_instance_id:
                  type: string
                  example: db1d1234
                  description: The ID of the source instance when cloning.
                source_snapshot_id:
                  type: string
                  description: An optional snapshot ID to create an instance from a specific snapshot. `source_instance_id` must also be provided.
                cloud_provider:
                  $ref: '#/components/schemas/CloudProvider'
                customer_managed_key_id:
                  type: string
                  description: An optional customer managed key to be used for instance creation.
                vector_optimized:
                  type: boolean
                  description: An optional vector optimization configuration to be set during instance creation.
                graph_analytics_plugin:
                  type: boolean
                  description: An optional graph analytics plugin configuration to be set during instance creation.
              required:
                - version
                - region
                - memory
                - name
                - type
                - tenant_id
                - cloud_provider
            examples:
              Creates an AuraDB Free Instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 1GB
                  name: Instance01
                  type: free-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Virtual Dedicated Cloud instance:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance01
                  type: enterprise-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDS Enterprise instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: enterprise-ds
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Business Critical instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: business-critical
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Professional instance:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance01
                  type: professional-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Professional instance with vector optimization configured:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  name: Instance01
                  type: professional-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
                  vector_optimized: true
              Creates an AuraDB Professional instance with the Graph Analytics plugin:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  name: Instance01
                  type: professional-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
                  graph_analytics_plugin: true
              Creates an AuraDS Professional instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: professional-ds
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Virtual Dedicated Cloud instance:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: enterprise-db
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Virtual Dedicated Cloud instance from a snapshot:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: enterprise-db
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDS Enterprise instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: enterprise-ds
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDS Enterprise instance from a snapshot:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: enterprise-ds
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Business Critical instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: business-critical
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Business Critical instance from a snapshot:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: business-critical
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Professional instance:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: professional-db
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDB Professional instance from a snapshot:
                value:
                  version: '4'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance02
                  type: professional-db
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDS Professional instance:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: professional-ds
                  source_instance_id: db1d1234
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Clones to a new AuraDS Professional instance from a snapshot:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 8GB
                  storage: 16GB
                  name: Instance02
                  type: professional-ds
                  source_instance_id: db1d1234
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
              Creates an AuraDB Virtual Dedicated Cloud instance with Customer Managed Key:
                value:
                  version: '5'
                  region: europe-west1
                  memory: 4GB
                  storage: 8GB
                  name: Instance01
                  type: enterprise-db
                  tenant_id: YOUR_PROJECT_ID
                  cloud_provider: gcp
                  customer_managed_key_id: UUID_OF_YOUR_KEY
  /instances/sizing:
    post:
      summary: Estimate the size of a new instance
      tags:
        - instances
      operationId: post-instances-sizing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      recommended_size:
                        type: string
                        description: The recommended instance size.
                      min_required_memory:
                        type: string
                        description: The minimum required memory for the instance.
                      did_exceed_maximum:
                        type: boolean
                        description: Indicates if the instance size exceeds the maximum allowed.
                    required:
                      - did_exceed_maximum
                      - min_required_memory
                      - recommended_size
              examples:
                Sizing details:
                  value:
                    data:
                      did_exceed_maximum: false
                      min_required_memory: 14GB
                      recommended_size: 16GB
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
          This endpoint estimates the size of a new instance based on the provided configuration.
          Supported instance types are `enterprise-ds`, and `professional-ds`, depending on your project configuration.

          The recommended size can can be used to create an instance using POST `/instances`.

          The response includes the recommended instance size, the minimum required memory for the instance, and a boolean value indicating if the instance size exceeds the maximum allowed by your Aura project instance configuration.

          This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                node_count:
                  type: integer
                  description: The number of nodes to be stored in the instance.
                relationship_count:
                  type: integer
                  description: The number of relationships to be stored in the instance.
                instance_type:
                  $ref: '#/components/schemas/InstanceType'
                algorithm_categories:
                  type: array
                  items:
                    type: string
                  description: The algorithm categories to be used in the instance.
              required:
                - node_count
                - relationship_count
            examples:
              Estimate the size of a new professional-ds instance:
                value:
                  node_count: 1000000
                  relationship_count: 5000000
                  instance_type: "professional-ds"
                  algorithm_categories:
                    - pathfinding
                    - community-detection
              Estimate the size of a new enterprise-ds instance:
                value:
                  node_count: 1000000
                  relationship_count: 5000000
                  instance_type: "enterprise-ds"
                  algorithm_categories:
                    - node-embedding
  '/instances/{instanceId}':
    parameters:
      - $ref: '#/components/parameters/instanceId'
    get:
      summary: Returns instance details
      tags:
        - instances
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      connection_url: YOUR_CONNECTION_URL
                      metrics_integration_url: YOUR_METRICS_INTEGRATION_ENDPOINT
                      region: europe-west1
                      type: enterprise-db
                      memory: 8GB
                      storage: 16GB
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: false
                Instance details with CMK:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      connection_url: YOUR_CONNECTION_URL
                      region: europe-west1
                      type: enterprise-db
                      memory: 8GB
                      storage: 16GB
                      created_at: '2023-01-20T13:44:42Z'
                      customer_managed_key_id: UUID_OF_YOUR_KEY
                Instance details configured with vector optimization and the Graph Analytics plugin:
                  value:
                    data:
                    id: 2f49c2b3
                    name: Production
                    status: running
                    tenant_id: YOUR_TENANT_ID
                    cloud_provider: gcp
                    connection_url: YOUR_CONNECTION_URL
                    region: europe-west1
                    type: professional-db
                    memory: 8GB
                    storage: 16GB
                    created_at: '2023-01-20T13:44:42Z'
                    vector_optimized: true
                    graph_analytics_plugin: true
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          links:
            PauseInstance:
              operationId: pause-instance-id
              parameters:
                instanceId: $response.body#/data/id
            ResumeInstance:
              operationId: resume-instance-id
              parameters:
                instanceId: $response.body#/data/id
            DestroyInstance:
              operationId: delete-instance-id
              parameters:
                instanceId: $response.body#/data/id
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: get-instance-id
      description: This endpoint returns details about a specific Aura Instance.
    delete:
      summary: Deletes an instance
      tags:
        - instances
      operationId: delete-instance-id
      responses:
        '202':
          description: Instance is being deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: deleting
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: false
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Starts the deletion process of an Aura instance.

        Deleting an instance is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        If another operation is being performed on the instance you are trying to delete, a 409 Conflict HTTP response code will be returned that indicates that deletion cannot be performed. As deletion is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        As DELETE is an idempotent HTTP method it is safe to retry or send duplicate requests. However, the server will only reply at most once with a successful deletion response (202 Accepted) and will respond with error status codes for any other requests (most likely with 404 Not Found). We suggest treating either 202 or 404 as signs of completion when retrying requests to this endpoint.

        Warning: There is no way to recover data from a deleted Aura instance.
    patch:
      summary: Edits the instance configuration
      description: |-
        This endpoint allows you to rename and resize an Aura instance.

        Resizing an instance is an asynchronous operation. The instance remains available throughout.

        This endpoint requires the `Content-Type: application/json` header to be set.
      tags:
        - instances
      operationId: patch-instance-id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: |-
                    Edit the instance name in the Aura Console.

                    The name may include any UTF-8 characters with no trailing or leading whitespace.
                  example: Instance01
                  maxLength: 30
                  minLength: 1
                memory:
                  $ref: '#/components/schemas/InstanceMemory'
                vector_optimized:
                  type: boolean
                  description: Add or remove the instance vector optimization.
                graph_analytics_plugin:
                  type: boolean
                  description: Add or remove the instance graph analytics plugin.
                storage:
                  $ref: '#/components/schemas/InstanceStorage'
            examples:
              Rename the instance:
                value:
                  name: Instance02
              Resize the instance:
                value:
                  memory: 16GB
                  storage: 32GB
              Rename and resize the instance:
                value:
                  name: Instance02
                  memory: 16GB
                  storage: 32GB
              Resize and configure vector optimization:
                value:
                  memory: 16GB
                  storage: 32GB
                  vector_optimized: true
              Resize and enable Graph Analytics libraries:
                value:
                  memory: 16GB
                  storage: 32GB
                  graph_analytics_plugin: true
      responses:
        '200':
          description: Renamed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: updating
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
                      vector_optimized: false
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '202':
          description: Resize request accepted.
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  '/instances/{instanceId}/overwrite':
    parameters:
      - $ref: '#/components/parameters/instanceId'
    post:
      summary: Overwrites an instance
      tags:
        - instances
      operationId: post-overwrite-instance
      responses:
        '202':
          description: Overwrite request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: overwriting
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Starts the process of overwriting the specified instance with data from the source instance provided.

        The overwrite process mimics the 'Clone to existing' functionality of the Aura Console. 

        If only a source_instance_id is provided, a new snapshot of that instance is created and used for overwriting. Alternatively, you can specify an additional source_snapshot_id to use a specific snapshot of the source instance for overwriting.

        Overwriting an instance is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        The time it takes to overwrite depends on the amount of data stored in the instance; larger quantities of data will take longer. The exact time this will take is dependent on the size of your data store.

        If you are trying to overwrite an instance that is already being cloned then, a 409 Conflict HTTP response code will be returned as the operation cannot be performed.

        As overwrite is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_instance_id:
                  type: string
                source_snapshot_id:
                  type: string
              required:
                - source_instance_id
            examples:
              Overwrite an instance:
                value:
                  source_instance_id: 191b0da2
              Overwrite an instance with a specific snapshot:
                value:
                  source_instance_id: 191b0da2
                  source_snapshot_id: 3e5e6e27-bf0a-4898-abb8-5f3050cac418
        description: Source Instance ID to use as a seed for overwriting the target instance.
  '/instances/{instanceId}/pause':
    parameters:
      - name: instanceId
        in: path
        schema:
          type: string
        description: Instance ID.
        required: true
    post:
      summary: Pauses an instance.
      tags:
        - instances
      operationId: post-pause-instance
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: The instance is being paused.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: pausing
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Starts the pause process of an Aura instance.

        Pausing an instance is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        The pause time depends on the amount of data stored in the instance; larger quantities of data will take longer. The exact time this will take is dependent on the size of your data store.

        If another operation is being performed on the instance you are trying to pause, a 409 Conflict HTTP response code will be returned that indicates that the pause operation cannot be performed.

        As pause is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.
  '/instances/{instanceId}/resume':
    parameters:
      - name: instanceId
        in: path
        schema:
          type: string
        description: Instance ID.
        required: true
    post:
      summary: Resumes an instance
      tags:
        - instances
      operationId: post-resume-instance
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: The instance is being resumed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: resuming
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
                      created_at: '2023-01-20T13:44:42Z'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Starts the resume process of an Aura instance. 

        Resuming an instance is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        If another operation is being performed on the instance you are trying to resume, a 409 Conflict HTTP response code will be returned that indicates that resume cannot be performed. As resume is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.
  '/instances/{instanceId}/snapshots/{snapshotId}':
    parameters:
      - $ref: '#/components/parameters/instanceId'
      - name: snapshotId
        in: path
        schema:
          type: string
        description: Snapshot ID.
        required: true
    get:
      summary: Get details of a snapshot.
      tags:
        - instances
      operationId: get-snapshot-snapshotid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      instance_id:
                        type: string
                      profile:
                        type: string
                        enum:
                          - AdHoc
                          - Scheduled
                      snapshot_id:
                        type: string
                      status:
                        type: string
                        enum:
                          - Completed
                          - InProgress
                          - Failed
                          - Pending
                          - Cancelled
                      timestamp:
                        type: string
                    required:
                      - data
              examples:
                Snapshot details:
                  value:
                    data:
                      instance_id: Instance01
                      profile: Scheduled
                      snapshot_id: '2023-01-20T13:44:42Z'
                      status: Completed
                      timestamp: '2023-01-20T13:44:42Z'
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/SnapshotNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |- 
        This endpoint returns details about a specific snapshot.
  '/instances/{instanceId}/snapshots/{snapshotId}/restore':
    parameters:
      - $ref: '#/components/parameters/instanceId'
      - name: snapshotId
        in: path
        schema:
          type: string
        description: Snapshot ID.
        required: true
    post:
      summary: Restores an instance from a snapshot.
      tags:
        - instances
      operationId: post-restore-snapshot
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: Request to restore a snapshot accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: restoring
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      storage: 16GB
                      region: europe-west1
                      type: enterprise-db
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/SnapshotNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the restore process of an Aura instance with the specified snapshot ID.

        Restoring a snapshot is an asynchronous operation. You can poll the current status of this operation by periodically getting the instance details for the instance ID using the GET /instances/{instanceId} endpoint.

        If another operation is being performed on the instance you are trying to restore, a 409 Conflict HTTP response code will be returned that indicates that restore cannot be performed. As restore is an asynchronous operation, the endpoint returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.
  '/instances/{instanceId}/snapshots':
    parameters:
      - $ref: '#/components/parameters/instanceId'
    get:
      summary: Returns a list of snapshots
      tags:
        - instances
      operationId: get-snapshots
      responses:
        '200':
          description: A List of snapshots
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        instance_id:
                          type: string
                        profile:
                          type: string
                          enum:
                            - AdHoc
                            - Scheduled
                        snapshot_id:
                          type: string
                        status:
                          type: string
                          enum:
                            - Completed
                            - InProgress
                            - Failed
                            - Pending
                        timestamp:
                          type: string
              examples:
                Example 1:
                  value:
                    data:
                    - instance_id: 9o2he2a1
                      profile: Scheduled
                      snapshot_id: '2023-01-20T13:44:42Z'
                      status: Completed
                      timestamp: '2023-01-20T13:44:42Z'
                    - instance_id: 415ced99
                      profile: AdHoc
                      snapshot_id: '2023-01-20T18:07:25Z-adhoc'
                      status: Completed
                      timestamp: '2023-01-20T18:07:25Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint returns a list of available snapshots for a given date. If a date is not specified, snapshots from the current day will be returned.

        To list snapshots for a specific date, pass the date query parameter with an ISO formatted date string (YYYY-MM-DD).
      parameters:
        - schema:
            type: string
            format: date
          in: query
          name: date
          description: 'An optional date parameter to list snapshots for a given day, defaults to today.'
    post:
      summary: Takes an on-demand snapshot
      tags:
        - instances
      operationId: post-snapshots
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '202':
          description: Snapshot request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - snapshot_id
                    properties:
                      snapshot_id:
                        type: string
                        description: The ID of the created snapshot
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Payment Required.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InstanceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the on-demand snapshot creation process for an Aura instance.

        Creating a snapshot is an asynchronous operation. You can poll the current status of this operation by periodically getting the snapshots details for the instance ID using the GET /instances/{instanceId}/snapshots endpoint.

        The time taken to complete a snapshot depends on the amount of data stored in the instance; larger quantities of data will take longer. The exact time this will take is dependent on the size of your data store.

        As this endpoint performs an asynchronous operation, the request returns a 202 Accepted HTTP response code.

        This endpoint requires the `Content-Type: application/json` header to be set.
      parameters: []

  "/instances/{instanceId}/upgrade":
    parameters:
      - name: instanceId
        in: path
        schema:
          type: string
        description: Instance ID
        required: true
    post:
      summary: Upgrade an AuraDB Professional instance to an AuraDB Business Critical instance
      tags:
        - instances
      operationId: post-upgrade-instance
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memory:
                  type: string
                storage:
                  type: string
            examples:
              Upgrade and resize an instance:
                value:
                  memory: 16GB
                  storage: 32GB
      responses:
        "200":
          description: The instance was upgraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Instance"
              examples:
                Instance details:
                  value:
                    data:
                      id: 2f49c2b3
                      name: Production
                      status: running
                      connection_url: YOUR_CONNECTION_URL
                      tenant_id: YOUR_PROJECT_ID
                      cloud_provider: gcp
                      memory: 8GB
                      region: europe-west1
                      type: business-critical
                      created_at: "2023-01-20T13:44:42Z"
        "308":
          $ref: "#/components/responses/PermanentRedirect"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/InstanceNotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      description: |-
        Upgrades an AuraDB Professional instance to an AuraDB Business Critical instance. Upgrades are not available for Marketplace projects or trial instances.
        
        Optionally, provide values for `memory` and `storage` in the request body to resize the instance along with the upgrade. If you don’t provide values, the instance keeps its configuration. If you provide `memory` you must also provide `storage` and vice versa.
        
        This endpoint requires the `Content-Type: application/json` header to be set.

  /tenants:
    parameters: []
    get:
      summary: Returns a list of projects
      tags:
        - projects
      operationId: get-projects
      description: 'This endpoint returns a list containing a summary of each of your Aura projects. To find out more about a specific project, retrieve the details using the GET /tenants/{tenantId} endpoint.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSummary'
                required:
                  - data
              examples:
                List of projects:
                  value:
                    data:
                      - id: 6981ace7-efe8-4f5c-b7c5-267b5162ce91
                        name: Production
                      - id: YOUR_PROJECT_ID
                        name: Staging
                      - id: da045ab3-3b89-4f45-8b96-528f2e47cd13
                        name: Development
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  '/tenants/{tenantId}':
    parameters:
      - $ref: '#/components/parameters/tenantId'
    get:
      summary: Returns project details
      tags:
        - projects
      operationId: get-project-id
      description: This endpoint returns details about a specific Aura project.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                Project details:
                  value:
                    data:
                      id: 6981ace7-efe8-4f5c-b7c5-267b5162ce91
                      name: Production
                      instance_configurations:
                        - region: europe-west1
                          region_name: Belgium (europe-west1)
                          type: enterprise-db
                          memory: 4GB
                          version: '5'
                          cloud_provider: gcp
                        - region: europe-west1
                          region_name: Belgium (europe-west1)
                          type: enterprise-db
                          memory: 8GB
                          version: '5'
                          cloud_provider: gcp
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /customer-managed-keys:
    parameters: []
    get:
      summary: Returns a list of customer managed keys
      tags:
        - customer managed keys
      operationId: get-customer-managed-keys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: A summary of a customer managed key
                      required:
                        - id
                        - name
                        - tenant_id
                      properties:
                        id:
                          type: string
                          description: The UUID of the key
                        name:
                          type: string
                          description: The name of the key
                        tenant_id:
                          type: string
                          description: The id of the project which the key belongs to
                required:
                  - data
              examples:
                List of Customer Managed Keys:
                  value:
                    data:
                      - id: f15cc45b-1c29-44e8-911f-3ba719f70ed7
                        name: Production Key
                        tenant_id: YOUR_PROJECT_ID
                      - id: 0d971cc4-f703-40fd-8c5c-f5ec134f6c84
                        name: Dev Key
                        tenant_id: YOUR_PROJECT_ID
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint returns a list containing a summary of each of your customer managed keys. To find out more about a specific key, retrieve the details using the GET /customer-managed-keys/{customerManagedKeyId} endpoint.

        You can filter keys in a particular troject using GET /customer-managed-keys?tenantId={tenantId}. If the project query parameter is not specified, this endpoint lists all keys a user has access to across all projects.
      parameters:
        - $ref: '#/components/parameters/tenantIdForCmkOptional'
    post:
      summary: Creates a new customer managed key
      tags:
        - customer managed keys
      operationId: post-customer-managed-keys
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerManagedKey'
              examples:
                Key is being created:
                  value:
                    data:
                      id: 8c764aed-8eb3-4a1c-92f6-e4ef0c7a6ed9
                      name: Instance01
                      created: '2024-01-31T14:06:57Z'
                      cloud_provider: aws
                      key_id: 'arn:aws:kms:us-east-1:123456789:key/11111-a222-1212-x789-1212f1212f'
                      region: us-east-1
                      type: enterprise-db
                      tenant_id: YOUR_PROJECT_ID
                      status: pending
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          links:
            GetInstanceDetails:
              operationId: get-customer-managed-key-id
              parameters:
                customerManagedKeyId: $response.body#/data/id
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '400':
          description: The request body contains malformed syntax, or is otherwise invalid. Please check and adjust the request before attempting to send it again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint creates a new Customer Managed Key in Aura. Creating a new key is an asynchronous operation.

        Before you can use the key you will need to setup permissions for it. Log in to the Console, navigate to 'Customer Managed Keys' and click on the Edit icon next to the Key in order to see the instructions.

        You can poll the current status of this operation by periodically getting the key details using the GET `/customer-managed-keys/{customerManagedKeyId}` endpoint.

        Once the key has a status of `ready` you can use it for creating new instances by setting the `customer_managed_key_id` field.

        This endpoint requires the `Content-Type: application/json` header to be set.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                region:
                  $ref: '#/components/schemas/InstanceRegion'
                name:
                  type: string
                  example: Production Key
                  maxLength: 30
                  minLength: 1
                  description: The name of the key (any UTF-8 characters with no trailing or leading whitespace).
                instance_type:
                  $ref: '#/components/schemas/InstanceType'
                tenant_id:
                  type: string
                  description: The ID of the project.
                cloud_provider:
                  $ref: '#/components/schemas/CloudProvider'
                key_id:
                  type: string
              required:
                - key_id
                - region
                - name
                - instance_type
                - tenant_id
                - cloud_provider
            examples:
              Creates a Customer Managed Key:
                value:
                  key_id: arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab
                  name: Production Key
                  cloud_provider: aws
                  instance_type: enterprise-db
                  region: us-west-2
                  tenant_id: YOUR_PROJECT_ID
  '/customer-managed-keys/{customerManagedKeyId}':
    parameters:
      - $ref: '#/components/parameters/customerManagedKeyId'
    get:
      summary: Returns customer managed key details
      tags:
        - customer managed keys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerManagedKey'
              examples:
                Customer Managed Key details:
                  value:
                    data:
                      id: 8c764aed-8eb3-4a1c-92f6-e4ef0c7a6ed9
                      name: Instance01
                      created: '2024-01-31T14:06:57Z'
                      cloud_provider: aws
                      key_id: 'arn:aws:kms:us-east-1:123456789:key/11111-a222-1212-x789-1212f1212f'
                      region: us-east-1
                      type: enterprise-db
                      tenant_id: YOUR_PROJECT_ID
                      status: ready
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/CustomerManagedKeyNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      operationId: get-customer-managed-key-id
      description: This endpoint returns details about a specific Customer Managed Key.
    delete:
      summary: Deletes a customer managed key
      tags:
        - customer managed keys
      operationId: delete-customer-managed-key-id
      responses:
        '204':
          description: Key was deleted.
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        "400":
          description: "The request body contains malformed syntax, or is otherwise invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                Trying to delete an active key:
                  value:
                    errors:
                      - message: "Can not delete encryption key <UUID>. The key is linked to an active instance."
                        reason: "encryption-key-is-active"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/CustomerManagedKeyNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        Deletes a Customer Managed Key from Aura.

        Note that you can only delete a Key if it is not being used by any instances, otherwise you will get a 400 response with the reason field set to `encryption-key-is-active`.
  '/tenants/{tenantId}/metrics-integration':
    parameters:
      - $ref: '#/components/parameters/tenantId'
    get:
      summary: Returns project metrics integration details
      tags:
        - projects
      operationId: get-project-metrics-integration-details
      description: This endpoint returns details of a specific Aura project's metrics integration.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsIntegrationDetails'
              examples:
                Metrics Integration Details:
                  value:
                    data:
                      endpoint: https://customer-metrics-api.neo4j.io/api/v1/tenantId/metrics
          headers:
            X-Tyk-Api-Expires:
              $ref: '#/components/headers/X-Tyk-Api-Expires'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '308':
          $ref: '#/components/responses/PermanentRedirect'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ProjectNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  '/instances/{instanceId}/data-apis/graphql':
    parameters:
      - $ref: "#/components/parameters/instanceId"
    get:
      summary: Returns a list of GraphQL Data APIs
      tags:
        - data apis
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/GraphQLDataAPISummary"
              examples:
                List of GraphQL Data APIs:
                  value:
                    data:
                      - id: 2f49c2b3
                        name: ProductionDataAPI
                        status: ready
                        url: https://2f49c2b3.data-api-url/graphql
                      - id: 524b7d8d
                        name: DevDataAPI
                        status: updating
                        url: https://524b7d8d.data-api-url/graphql
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
    post:
      summary: Creates a new GraphQL Data API
      tags:
        - data apis
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/GraphQLDataAPISummaryWithAuthProviders"
              examples:
                GraphQL Data API:
                  value:
                    data:
                      id: 2f49c2b3
                      name: GraphQLDataAPI
                      status: creating
                      url: https://2f49c2b3.data-api-url/graphql
                      authentication_providers:
                        - id: 038ac820-f108-413c-8211-e3720fab36ec
                          name: api-key-provider
                          type: api-key
                          key: "BKMeca9adfHf0amTJxag1Idm9fq6ksI4"
                        - id: 038ac821-f108-413c-8211-e3720fab36ec
                          name: jwks-provider
                          type: jwks
                          url: "https://myauth.provider.com/.well-known/jwks.json"
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the creation process of an Aura GraphQL Data API.

        Creating a GraphQL Data API is an asynchronous operation. You can poll the current status of this operation by periodically getting the GraphQL Data API details for the GraphQL Data API ID using the GET /data-apis/graphql/{data-apiId} endpoint. Once the status transitions from "creating" to "ready" you may begin to use your GraphQL Data API.

        This endpoint returns your GraphQL Data API ID, any API keys, and connection URL in the response body for you to use once the GraphQL Data API is running. It is important to store any API keys as you cannot get the value of these API keys again.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Data API.
                aura_instance:
                  type: object
                  properties:
                    username:
                      type: string
                      description: The username of your Aura instance.
                    password:
                      type: string
                      description: The password of your Aura instance.
                  required:
                    - username
                    - password
                type_definitions:
                  type: string
                  description: Your base64-encoded @neo4j/graphql type definitions. These should be compatabile with version 7 of the library. You can validate your type definitions by visiting https://graphql-toolbox.neo4j.io/.
                features:
                  type: object
                  properties:
                    subgraph:
                      type: boolean
                      description: Enables the GraphQL Data API to act as a subgraph in a federated context.
                security:
                  type: object
                  properties:
                    cors_policy:
                      type: object
                      description: Configuration options for the CORS policy of the Data API.
                      properties:
                        allowed_origins:
                          type: array
                          items:
                            type: string
                          description: List of allowed origins for the Data API. These must be exact matches for the allowed origins.
                      required:
                        - allowed_origins
                    authentication_providers:
                      type: array
                      items:
                        $ref: "#/components/schemas/DataApiAuthProviderCreateInput"
                  required:
                    - authentication_providers
              required:
                - name
                - type_definitions
                - aura_instance
                - security
            examples:
              GraphQL Movie Graph:
                value:
                  name: GraphQLDataAPI
                  aura_instance:
                    username: neo4j
                    password: password
                  type_definitions: dHlwZSBNb3ZpZSB7CiAgICB0aXRsZTogU3RyaW5nCiAgICBhY3RvcnM6IFtBY3RvciFdISBAcmVsYXRpb25zaGlwKHR5cGU6ICJBQ1RFRF9JTiIsIGRpcmVjdGlvbjogSU4pCn0KCnR5cGUgQWN0b3IgewogICAgbmFtZTogU3RyaW5nCiAgICBtb3ZpZXM6IFtNb3ZpZSFdISBAcmVsYXRpb25zaGlwKHR5cGU6ICJBQ1RFRF9JTiIsIGRpcmVjdGlvbjogT1VUKQp9
                  features:
                    subgraph: true
                  security:
                    cors_policy:
                      allowed_origins:
                        - https://myapp.com
                    authentication_providers:
                      - name: jwks-provider
                        type: jwks
                        enabled: true
                        url: "https://myauth.provider.com/.well-known/jwks.json"
                      - name: api-key-provider
                        type: api-key
                        enabled: false
  '/instances/{instanceId}/data-apis/graphql/{dataApiId}':
    parameters:
      - $ref: "#/components/parameters/instanceId"
      - $ref: "#/components/parameters/dataApiId"
    get:
      summary: Returns GraphQL Data API details
      tags:
        - data apis
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/GraphQLDataAPI"
                  errors:
                    $ref: "#/components/schemas/Error"
              examples:
                GraphQL Data API:
                  value:
                    data:
                      id: 2f49c2b3
                      name: GraphQLDataAPI
                      status: ready
                      aura_instance:
                        id: db1d1234
                      url: https://2f49c2b3.data-api-url/graphql
                      type_definitions: dHlwZSBNb3ZpZSB7CiAgICB0aXRsZTogU3RyaW5nCiAgICBhY3RvcnM6IFtBY3RvciFdISBAcmVsYXRpb25zaGlwKHR5cGU6ICJBQ1RFRF9JTiIsIGRpcmVjdGlvbjogSU4pCn0KCnR5cGUgQWN0b3IgewogICAgbmFtZTogU3RyaW5nCiAgICBtb3ZpZXM6IFtNb3ZpZSFdISBAcmVsYXRpb25zaGlwKHR5cGU6ICJBQ1RFRF9JTiIsIGRpcmVjdGlvbjogT1VUKQp9
                      features:
                        subgraph: true
                      security:
                        cors_policy:
                          allowed_origins:
                            - https://myapp.com
                    errors:
                      - reason: invalid-type-defs
                        message: Unknown type "Strig". Did you mean "String"?
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
    patch:
      summary: Edits a GraphQL Data API
      tags:
        - data apis
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/GraphQLDataAPISummary"
              examples:
                GraphQL Data API:
                  value:
                    data:
                      id: 2f49c2b3
                      name: GraphQLDataAPI
                      status: updating
                      url: https://2f49c2b3.data-api-url/graphql
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the GraphQL Data API.
                type_definitions:
                  type: string
                  description: Your base64-encoded @neo4j/graphql type definitions. These must be compatible with version 7 of the library. You can validate your type definitions by visiting https://graphql-toolbox.neo4j.io/.
                features:
                  type: object
                  properties:
                    subgraph:
                      type: boolean
                      description: Enables the GraphQL Data API to act as a subgraph in a federated context.
                aura_instance:
                  type: object
                  properties:
                    username:
                      type: string
                      description: The username of your Aura instance.
                    password:
                      type: string
                      description: The password of your Aura instance.
                security:
                  type: object
                  description: Security configuration options for the Data API.
                  properties:
                    cors_policy:
                      type: object
                      description: Configuration options for the CORS policy of the Data API.
                      properties:
                        allowed_origins:
                          type: array
                          items:
                            type: string
                          description: List of allowed origins for the Data API. These must be exact matches for the allowed origins. Updates to this field will overwrite the existing list of allowed origins.
            examples:
              Update Name:
                value:
                  name: NewDataAPIName
              Update Aura Instance Password:
                value:
                  aura_instance:
                    password: new-password
              Update All Values:
                value:
                  name: NewDataAPIName
                  type_definitions: dHlwZSBNb3ZpZSB7CiAgICB0aXRsZTogU3RyaW5nCiAgICBhY3RvcnM6IFtBY3RvciFdISBAcmVsYXRpb25zaGlwKHR5cGU6ICJBQ1RFRF9JTiIsIGRpcmVjdGlvbjogSU4pCn0KCnR5cGUgQWN0b3IgewogICAgbmFtZTogU3RyaW5nCiAgICBtb3ZpZXM6IFtNb3ZpZSFdISBAcmVsYXRpb25zaGlwKHR5cGU6ICJBQ1RFRF9JTiIsIGRpcmVjdGlvbjogT1VUKQp9
                  aura_instance:
                    username: newUser
                    password: new-password
                  features:
                    subgraph: true
                  security:
                    cors_policy:
                      allowed_origins:
                        - https://myapp.com
    delete:
      summary: Deletes a GraphQL Data API
      tags:
        - data apis
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/GraphQLDataAPISummary"
              examples:
                GraphQL Data API:
                  value:
                    data:
                      id: 2f49c2b3
                      name: GraphQLDataAPI
                      status: deleting
                      url: https://2f49c2b3.data-api-url/graphql
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
  '/instances/{instanceId}/data-apis/graphql/{dataApiId}/pause':
    parameters:
      - $ref: "#/components/parameters/instanceId"
      - $ref: "#/components/parameters/dataApiId"
    post:
      summary: Pauses a GraphQL Data API
      tags:
        - data apis
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/GraphQLDataAPISummary"
              examples:
                GraphQL Data API:
                  value:
                    data:
                      id: 2f49c2b3
                      name: ProductionDataAPI
                      status: pausing
                      url: https://2f49c2b3.data-api-url/graphql
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the pausing process of an existing Aura GraphQL Data API.

        Pausing a GraphQL Data API is an asynchronous operation. You can poll the current status of this operation by periodically getting the GraphQL Data API details for the GraphQL Data API ID using the GET /data-apis/graphql/{data-apiId} endpoint. The GraphQL Data API will only be paused once the status transitions from "pausing" to "paused".
  '/instances/{instanceId}/data-apis/graphql/{dataApiId}/resume':
    parameters:
      - $ref: "#/components/parameters/instanceId"
      - $ref: "#/components/parameters/dataApiId"
    post:
      summary: Resumes a GraphQL Data API
      tags:
        - data apis
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/GraphQLDataAPISummary"
              examples:
                GraphQL Data API:
                  value:
                    data:
                      id: 2f49c2b3
                      name: ProductionDataAPI
                      status: resuming
                      url: https://2f49c2b3.data-api-url/graphql
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
      description: |-
        This endpoint starts the resuming process of an existing Aura GraphQL Data API.

        Resuming a GraphQL Data API is an asynchronous operation. You can poll the current status of this operation by periodically getting the GraphQL Data API details for the GraphQL Data API ID using the GET /data-apis/graphql/{data-apiId} endpoint. Once the status transitions from "resuming" to "ready" you may begin to use your GraphQL Data API.
  '/instances/{instanceId}/data-apis/graphql/{dataApiId}/auth-providers':
    parameters:
      - $ref: "#/components/parameters/instanceId"
      - $ref: "#/components/parameters/dataApiId"
    get:
      summary: Returns Authentication Providers of a GraphQL Data API
      tags:
        - data apis
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DataApiAuthProviderSummary"
              examples:
                Authentication Providers:
                  value:
                    data:
                      - id: 038ac820-f108-413c-8211-e3720fab36ec
                        name: api-key-provider
                        type: api-key
                        enabled: true
                      - id: 038ac821-f108-413c-8211-e3720fab36ec
                        name: jwks-provider
                        type: jwks
                        enabled: true
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
    post:
      summary: Creates an Authentication Provider for a GraphQL Data API
      tags:
        - data apis
      responses:
        202:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DataApiAuthProviderWithApiKey"
              examples:
                API Key Provider:
                  value:
                    data:
                      id: 038ac820-f108-413c-8211-e3720fab36ec
                      name: api-key-provider
                      type: api-key
                      enabled: true
                      key: the-api-key
                JWKS Provider:
                  value:
                    data:
                      id: 038ac821-f108-413c-8211-e3720fab36ec
                      name: jwks-provider
                      type: jwks
                      enabled: true
                      url: "https://myauth.provider.com/.well-known/jwks.json"
        308:
          $ref: '#/components/responses/PermanentRedirect'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/TooManyRequests'
        500:
          $ref: '#/components/responses/InternalServerError'
        502:
          $ref: '#/components/responses/BadGateway'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataApiAuthProviderCreateInput"
            examples:
              API Key Provider:
                value:
                  data:
                    name: api-key-provider
                    type: api-key
                    enabled: true
              JWKS Provider:
                value:
                  data:
                    name: jwks-provider
                    type: jwks
                    enabled: true
                    url: "https://myauth.provider.com/.well-known/jwks.json"
  '/instances/{instanceId}/data-apis/graphql/{dataApiId}/auth-providers/{authProviderId}':
    parameters:
      - $ref: "#/components/parameters/instanceId"
      - $ref: "#/components/parameters/dataApiId"
      - $ref: "#/components/parameters/authProviderId"
    get:
      summary: Returns details of an authentication provider of a GraphQL Data API
      tags:
        - data apis
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DataApiAuthProvider"
              examples:
                API Key Provider:
                  value:
                    data:
                      id: 038ac820-f108-413c-8211-e3720fab36ec
                      name: api-key-provider
                      type: api-key
[...]
